
    <form method="POST" enctype="multipart/form-data" id="form-{{form._prefix}}">
        <p class="d-none text-danger text-center form-error-message" id="form-{{form._prefix}}-error">
        </p>
        {{ form.hidden_tag() }}

        {% for field in form %}
        {% if field.widget.input_type != 'hidden' %}
        <p>
            {% if field.widget.input_type == 'checkbox' %}
            <div class="custom-control custom-checkbox">
                {{ field(class_="custom-control-input") }}
                {{ field.label(class_="custom-control-label") }}
            </div>
            {% else %}
                {{ field.label }}
                {{ field(class_="form-control") }}
            {% endif %}

            <span class="form-text text-danger form-error" id="form-{{form._prefix}}-error-{{field.short_name}}">{{ error }}</span>
        </p>
        {% endif %}
        {% endfor %}

        <button class="btn btn-success" type="submit">Submit</button>
    </form>