{% extends 'base.html' %}

{% block title %}
Book your service
{% endblock %}


{% block header %}
<div class="p-2 h4 row bg-secondary text-white mx-auto mb-0">
    <div class="col-12 col-md-10 display-2">
        Book Your Services
    </div>
    <div class="d-none d-lg-block col-lg-2">
        {% if g.user %}
        <p class="text-success h4 align-bottom">{{g.user.full_name}}</p>
        {% endif %}
    </div>
</div>
{% include 'home/menu.html' %}
{% endblock %}

{% block main %}
{% include 'flash.html' %}
<script>
    const CURRENT_USERNAME = '{{ g.user.username if g.user }}';
</script>
<div class="row">
    <div class="col-3 d-none d-lg-block">
        {% include "home/menu-side.html" %}
    </div>
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-12 col-md-8 h1">{% block subtitle %}Block Subtitle{% endblock %}</div>
            <div class="col-12 col-md-4 align-self-center">
                {% block top_links %}
                Block Top Links
                {% endblock %}
            </div>
        </div>
        {% block content %}
        Block Content
        {% endblock %}
    </div>
</div>
{% endblock %}