<ul class="nav flex-column text-center">
    <li class="nav-item m-1 btn btn-primary">
        <a class="nav-link text-white" href="/users/dashboard">Dashboard</a>
    </li>
    {% if g.user.is_provider %}
    <li class="nav-item m-1 btn btn-secondary">Customer Appointments</li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myappointments">Upcoming Appointments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myappointments?is_past=1">Past Appointments</a>
    </li>
    <li class="nav-item m-1 btn btn-secondary">Provider Appointments</li>
    <li class="nav-item">
        <a class="nav-link" href="/users/provider_appointments">Upcoming Appointments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/provider_appointments?is_past=1">Past Appointments</a>
    </li>
    {% else %}
    <li class="nav-item m-1 btn btn-secondary">My Appointments</li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myappointments">Upcoming Appointments</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myappointments?is_past=1">Past Appointments</a>
    </li>
    {% endif %}
    {% if g.user.is_provider %}
    <li class="nav-item btn btn-secondary">My Settings</li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myservices">My Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/myschedules">My Schedules</a>
    </li>
    {% endif %}
    <li class="nav-item btn btn-secondary">My Account</li>
    <li class="nav-item">
        <a class="nav-link" href="/users/profile">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/users/password">Update Password</a>
    </li>
</ul>