{% extends 'home/base.html' %}

{% block subtitle %}
{% endblock %}

{% block top_links %}{% endblock %}

{% block content %}
<div class="row p-2">
    <div class="col-12 col-md-6 h2">
        Providers
    </div>
    <div class="col-12 col-md-6 pt-2">
        {% with form=provider_form, search_url=provider_url %}
        {% include "form-search.html" %}
        {% endwith %}
    </div>
</div>
<div class="row" id="providers-list">
</div>
{% include "home/items/provider.html" %}
{% endblock %}



{% block js %}
<script src="/static/js/home/providers.js" type="module"></script>
{% endblock %}