{% extends 'home/base.html' %}

{% block subtitle %}
{% endblock %}

{% block top_links %}{% endblock %}

{% block content %}
<div class="row bg-light border-bottom p-2">
    <div class="col h2">
        Services
    </div>
    <div class="col pt-2 row">
        <div class="col-11">
        {% with form=service_form, search_url=service_url %}
        {% include "form-search.html" %}
        {% endwith %}</div>
        <div class="col-1">
        </div>
    </div>
</div>
<div class="row" id="services-list">
</div>
{% include "home/items/service.html" %}
{% endblock %}

{% block js %}
<script src="/static/js/home/services.js" type="module"></script>
{% endblock %}