{% extends 'home/base-login.html' %}

{% block subtitle %}
Dashboard
{% endblock %}

{% block top_links %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-lg-4">
        <img src="{{account.image_url}}" class="img-fluid" />
    </div>
    <div class="col-12 col-lg-8 h4">
        <div class="row">
            <div class="col-4 text-primary">Name:</div>
            <div class="col-8 text-secondary">{{account.full_name}}</div>
            <div class="col-4 text-primary">Email:</div>
            <div class="col-8 text-secondary">{{account.email}}</div>
            <div class="col-4 text-primary">Phone:</div>
            <div class="col-8 text-secondary">{{account.phone}}</div>
            <div class="col-4 text-primary">Description:</div>
            <div class="col-8 text-secondary">{{account.description}}</div>
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col h2">
        My Services
    </div>
</div>
<div class="row" id="services-list">
</div>
{% include "home/items/myservice.html" %}
{% endblock %}

{% block js %}
<script src="/static/js/home/provider.js" type="module"></script>
{% endblock %}