{% extends 'home/base-login.html' %}

{% block subtitle %}
Dashboard
{% endblock %}

{% block top_links %}
<a class="btn btn-primary" href="{{ url_for('home.user_edit') }}" title="Edit"><i class="fas fa-user-edit"></i></a>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-4">
        <img src="{{account.image_url}}" class="img-fluid" />
    </div>
    <div class="col-12 col-md-8 h4">
        <div class="row">
            <div class="col-4 text-primary">Name:</div>
            <div class="col-8 text-secondary">{{account.full_name}}</div>
            <div class="col-4 text-primary">Email:</div>
            <div class="col-8 text-secondary">{{account.email}}</div>
            <div class="col-4 text-primary">Phone:</div>
            <div class="col-8 text-secondary">{{account.phone}}</div>
            <div class="col-4 text-primary">Description:</div>
            <div class="col-8 text-secondary">{{account.description}}</div>
        </div>
    </div>
</div>

<div class="row p-2">
    <div class="col h2">
        Upcoming Appointments
    </div>
</div>

<div class="row container-fluid mx-auto">
    <div class="col-12 d-flex row py-2 bg-secondary text-white font-weight-bolder">
        <div class="col-2">{{"Customer" if g.user.is_provider else "Provider" }}</div>
        <div class="col">Service</div>
        <div class="col">Date</div>
        <div class="col">Time</div>
        <div class="col-1">Note</div>
        <div class="col-2">
            Actions
        </div>
    </div>
</div>
<div class="row container-fluid mx-auto" id="appointments-list">
</div>
{% if g.user.is_provider %}
<div class="row p-2">
    <div class="col h2">
        My Services
    </div>
</div>
<div class="row" id="services-list">
</div>
{% endif %}

{% with form = appointment_form %}
{% include "form-ajax-modal.html" %}
{% endwith %}
{% include ("home/items/myappointment-provider.html" if g.user.is_provider else "home/items/myappointment.html") %}

{% if g.user.is_provider %}
{% include "home/items/myservice.html" %}
{% endif %}

{% endblock %}

{% block js %}
<script src="/static/js/home/users/myappointments.js" type="module"></script>

{% if g.user.is_provider %}
<script src="/static/js/home/provider.js" type="module"></script>
{% endif %}

{% endblock %}