{% extends 'base.html' %}

{% block title %}
Book your service control panel
{% endblock %}


{% block header %}
<div class="p-2 h4 row bg-primary text-white mx-auto rounded">
    <div class="col-12 col-md-6">Book Your Services Control Panel</div>

    {% if g.admin %}
    <div class="col-4 d-none d-lg-block"><label class="text-success">{{g.admin.full_name}}</label></div>
    <div class="col-12 col-md-6 col-lg-2">
        <form method="POST" action="/admin/logout">
            <a class="btn btn-secondary d-inline-flex d-lg-none m-2" id="side-menu-btn"><i class="fas fa-bars"></i></a>
            <button class="btn btn-danger" title="Signout"><i class="fas fa-sign-out-alt"></i></button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block main %}
<div class="row">
    {% if g.admin %}
    <div class="col-12 col-lg-3 d-none d-lg-block" id="side-menu">
        {% include 'admin/menu.html' %}
    </div>
    {% endif %}
    <div class="col-12 col-lg-9 mx-auto">
        {% include 'flash.html' %}
        <div class="row">
            <div class="col-12 col-md-8 h1">{% block subtitle %}Block Subtitle{% endblock %}</div>
            <div class="col-12 col-md-4 align-self-center">
                {% block top_links %}
                Block Top Links
                {% endblock %}
            </div>
        </div>
        {% block content %}
        Block Content
        {% endblock %}
    </div>
</div>
{% endblock %}