<ul class="nav flex-column text-center">
    <li class="nav-item btn btn-secondary">Appointments</li>
    <li class="nav-item">
        <a class="nav-link" href="#">Appointments List</a>
    </li>
    <li class="nav-item btn btn-secondary">Users</li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('admin.users_list')}}">Users List</a>
        <a class="nav-link" href="{{ url_for('admin.google_calendars_list')}}">Calendar List</a>
    </li>
    <li class="nav-item btn btn-secondary">Accounts</li>
    {% if g.is_administrator %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/admins">All Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/admins/new">New Account</a>
    </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" href="/admin/admins/password">Update Password</a>
    </li>
    <li class="nav-item btn btn-secondary">Setting</li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/categories/index">Categories</a>
    </li>
</ul>
