{% extends 'admin/base.html' %}

{% block subtitle %}
All Categories
{% endblock %}

{% block top_links %}
<a class="btn btn-success" href="{{ url_for('admin.categories_new')}}" title="New Category"><i
        class="fas fa-plus"></i></a>
{% endblock %}

{% block content %}
<table class="table table-striped rounded">
    <thead class="bg-primary text-white">
        <th>ID</th>
        <th>Name</th>
        <th>Active</th>
        <th>Actions</th>
    </thead>
    <tbody>

        {% for item in list %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{% if item.is_active %}
                <i class="fas fa-check text-success"></i>
                {% else %}
                <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
            <td>
                <form action="{{ url_for('admin.categories_delete' , id=item.id) }}" method="POST">
                    <a class="btn btn-primary" href="{{ url_for('admin.categories_update' , id=item.id) }}"
                        title="Edit"><i class="fas fa-edit"></i></a>
                    {% if item.is_active %}
                    <button class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></button>
                    {% endif %}
                </form>
            </td>
        </tr>

        {% endfor %}

    </tbody>
</table>
{% endblock %}