<div id="appointments-template" class="d-none">
        <div class="col-12 d-flex row py-1 border-bottom border-light appointment-item" id="appointments-list-%%id%%">
                <div class="col-2">%%customer%%</div>
                <div class="col">%%service%%</div>
                <div class="col">%%service_date%%</div>
                <div class="col">%%start%%-%%end%%</div>
                <div class="col-1"><button class="btn btn-info btn-note %%no_note%%" data-id="%%id%%"><i
                                        class="fas fa-sticky-note"></i></button></div>

                {% if not is_past %}
                <div class="col-2">
                        <button class="btn btn-primary btn-edit" data-id="%%id%%" data-toggle="modal"
                                data-target="#form-appointment-container"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger btn-delete" data-id="%%id%%"><i
                                        class="fas fa-trash-alt"></i></button>
                </div>
                {% endif %}
        </div>
</div>