<div id="appointments-template" class="d-none">
        <div class="col-12 col-md-4 d-flex" id="services-list-%%id%%">
                <div class="card m-1 bg-light">
                        <div class="card-body">
                                <p class="card-title font-weight-bold">
                                        %%summary%%
                                </p>
                                <p class="card-text">
                                        <label class="text-primary">Start:</label>:%%start%%
                                </p>
                                <p class="card-text">
                                        <label class="text-primary">End:</label>:%%end%%
                                </p>
                                <p class="card-text">
                                        <label class="text-primary">Note:</label>%%note%%
                                </p>
                                <div class="row">
                                        <div class="col text-secondary">
                                                %%is_active%%
                                        </div>
                                        <div class="col text-secondary">
                                        </div>
                                </div>
                                <div class="text-center">
                                        <button class="btn btn-primary btn-edit" data-id="%%id%%"  data-toggle="modal" data-target="#form-appointment-container"><i class="fas fa-edit"></i></button>
                                        <button class="btn btn-danger btn-delete" data-id="%%id%%"><i class="fas fa-trash-alt"></i></button>
                                </div>
                        </div>
                </div>
        </div>
</div>