<div id="providers-template" class="d-none">
    <div class="col-12 col-md-6 col-lg-4" id="services-list-%%id%%">
            <div class="card m-1 bg-light">
                    <img class="card-img-top" src="%%image%%" alt="Service Image">
                    <div class="card-body">
                            <p class="card-title font-weight-bold">
                                    %%full_name%%
                            </p>
                            <p class="card-text">
                                    %%description%%
                            </p>
                            <p class="card-text text-info">
                                    Email: %%email%%
                            </p>
                            <p class="card-text text-info">
                                    Phone: %%email%%
                            </p>
                            <div class="text-center">
                                    <a class="btn btn-primary btn-provider" href="/providers/%%username%%" data-id="%%username%%">See Details</a>
                            </div>
                    </div>
            </div>
    </div>
</div>