<div id="services-template" class="d-none">
        <div class="col-12 col-md-6 col-lg-4 d-flex" id="services-list-%%id%%">
                <div class="card m-1 bg-light">
                        <img class="card-img-top" src="%%image%%" alt="Service Image">
                        <div class="card-body">
                                <p class="card-title font-weight-bold">
                                        %%name%%
                                </p>
                                <p class="card-text">
                                        %%description%%
                                </p>
                                <p class="card-text text-info">
                                        Provider: <a href="/providers/%%username%%">%%provider%%</a>
                                </p>
                                <div class="row">
                                        <div class="col text-secondary">
                                                %%categories%%
                                        </div>
                                </div>
                                <div class="text-center">
                                        <button class="btn btn-primary btn-appointment" data-id="%%id%%" data-toggle="modal" data-target="#form-appointment-container">Make Appoitment</button>
                                        <a class="btn btn-primary btn-login" href="/login">Login to make appointment!</a>
                                </div>
                        </div>
                </div>
        </div>
</div>